#out #entry {
	display: block;
	width: 500px;
	height: 60px;
}

input#out {
	width: 700px;
	height: 600px;
}

#modtoggles label, #shadertoggles label {
	border: solid 1px lightgrey;
	border-radius: 4px;
	padding: 0em 1em;
}

#modtoggles label:hover, #shadertoggles label:hover {
	background: lightblue;
}

#propertiesoutput {
	font-size:.85em;
}